
apache-airflow==3.0.4
apache-flink==2.1.0
kafka-python==2.2.15
elasticsearch==9.1.0
opentelemetry-sdk==1.36.0
opentelemetry-exporter-otlp==1.36.0
TikTokLive==5.0.8
psycopg2-binary==2.9.10
vaderSentiment==3.3.2
requests==2.32.3
python-dotenv==1.1.1
pydantic==2.11.7
apache-airflow-providers-http==5.3.3
